* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

div {
    display: block;
}

li {
    list-style: none;
    display: list-item;
}

a {
    color: black;
    letter-spacing: 1px;
}

header {
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1020;
    background-color: white;
    box-sizing: inherit;
    background-color: bisque;
}


.headerNav {
    height: 192px;
    padding: 42px 100px;
    position: relative;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 0.6875rem;
    letter-spacing: 0.4px;

    display: flex;
    justify-content: center;
    height: auto;
}

.nav-left, .header-brand, .nav-right{
    flex-grow: 1;
    flex-basis: 0;
    
}

/* header Left */

.nav-left {
    display: flex;
    align-items: center;
}

.header-menu {
    position: relative;
}

.menu-items {
    padding: 2.74px 0;
}

.menu-link {
    font-size: 10px;
    font-weight: 500;
    height: 0.7rem;

}


/* header Center */
.header-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-brand h2 {
    font-size: 90px;
    color: black;
    letter-spacing: 6px;
    width: 100%;
    height: auto;
}

/* header-right */
.nav-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
}

.nav-right li {
    margin-left: 15px;
}

#right {
    padding-bottom: 40px;
}

.search{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    
}


/* nav-icon */

.nav-icon {
    justify-content: flex-end;
}
#nav-icon-right {
    display: flex;
    justify-content: flex-end;
}

.cart {
    justify-content: flex-end;
}


@keyframes cartAnimation {
    0% {
        transform: scale(0.6);
    }
    10% {
        transform: scale(0.8);
    }
    30% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1.8);
    }
    100% {
        transform: scale(1.0);
    }
}

.cart-count {
    position: relative;
    top: -0.75rem;
    right: 0.4rem;
    background: none;
    color:inherit;
    line-height: inherit;
    width: unset;
    display: unset;
    text-align: unset;
    font-weight: 500;
    font-size: 9px;
    transition: all .5s ease;

}

#heart {
    padding-top: 1px;
}

/* Cart */
#addContents{
    z-index: 1030;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    right: -100%;
}


.darken {
    position: fixed;
    display:block ;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1100;
    /* visibility: hidden; */
}

 
.shopping-cart {
    z-index: 1300 ;
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #fff;
    border: 1px #fff;
    visibility: hidden;
    
}

.show-cart {
    visibility: visible;
}

.empty-txt {
    text-align: center;
}
.empty-txt p{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}


.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-contents img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: .5rem;
}

.cart-product-title p{
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: 5px;
}

.cart-price p{
    letter-spacing: 1px;
    padding-left: 5px;
}


/* .cart-quality {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 15px;
} */

#units {
    display: inline-flex;
    text-align: center;
}

#units div {
    margin-left: 10px;
    margin-right: 10px;
    width: 1.4rem;
    font-size: 18px;
    text-align: center;
}

#units .btn {
    font-weight: 800;
    border-radius: 50%;
    border: 1px solid gray;
    width: 30px;
    padding-bottom: 2px;
    cursor: pointer;
}


.cart-remove {
    font-size: 24px;
    color: #495049;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #999;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left:  .5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #999;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background-color: #495049;
}

#close {
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: #999;
    cursor: pointer;
}

/* header end */

/* main */
#item-section{
    margin-top: 150px;
    width: 100%;
    padding: 6rem 0;
}

.main-container {
    /* width: 100%; */
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.category-header {
    text-align: center;
}

.text-container {
    margin: 0 auto 4rem;
}

.category-title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 100px;
    
}

/* product section */

#row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
    
}

#template {
    display: flex;
    position: relative;
    /* padding-left: 15px;
    padding-right: 15px; */
    flex: 0 0 25%;
    max-width: 25%;
}

.product {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    position:relative;
    border: 1px solid #f0f0f0;
}

/* product-img */
.img-prod {
    display: flex;
    overflow: hidden;
    background-color: transparent;
    height: 300px;
    justify-content: center;
    width: 100%;
}

.product-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

/* product-text */
.item-text {
    text-align: center;
    background-color: white;
    position: relative;
    /* width: 100%; */
    padding:16px 16px 24px;
}

.item-name {
    line-height: 1.25rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

/* icon */
#shop-icon {
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: x-large;
    bottom: -100;
}


.add-cart{
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    
}



.add-wish {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
}

.icon-li {
    padding-left: 20px;
    padding-right: 20px;
}

.icon-li i {
    margin-top: 8px;
}

/* heart icon */
@keyframes heartAnimation {
    0% {
        transform: scale(0.3);
    }
    10% {
        transform: scale(0.5);
    }
    30% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}

#btn1 {
    transition: .4s;
}

.far:hover {
    color: #f50057;
}

.fas {
    animation: heartAnimation .2s;
    color: #f50057;
    transition: 3s;

}


/* more button */
#show-more {
    max-width: 37.5rem;
    margin: 5rem auto;
    padding: 1.25rem 1.75rem;
}

.text-center {
    text-align: center;
}

.show-button {
    font-size: 0.75rem;
    border: thin solid #dadada;
    background-color: transparent;
    color: black;

    min-width: 7.5rem;
    height: 3.5rem;
    padding: 0.75rem 2.25rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer style */

footer {
    background-color: #f8f8f8; 
}

footer ul {
    list-style: none;
    padding-left: 0;
}
.footer-new {
    padding: 0 6.25rem;
    /* width: 100%; */
    max-width: 120rem;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.footer-left {
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.footer-item-container {
    display: flex;
    column-count: 3;
}

.footer-item {
    padding-right: 3.125rem;
    border: 0;
}

.footer-menu {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

footer .footer-item .footer-menu li {
    margin-bottom: 0.25rem;
    height: auto;
}

.footer-right {
    width: 30%;
}

.email-signup {
    margin-bottom: 0;
    background-color: inherit;
}

.mail-text-head {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-bottom: 0;
}

.mail-text-p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #313131;
}

.form-email {
    display: block;
}

.form-group {
    width: 90%;
    height: 3rem;
}

.type-email {
    border: none;
    border-bottom: thin solid #999;
    border-radius: 0;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495049;
    background-clip: padding-box;
    transition: border-color 0.15s 
                ease-in-out, box-shadow 0.15s
                ease-in-out;
    /* -webkit-transform: translateZ( 0 );             */
}

input [placeholder] {
    text-overflow: ellipsis;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    cursor: text;
    height: fit-content;
    background-color: inherit;
    padding: 0.5rem 0.5rem;
    margin: 0;
}

.submit-subscribe {
    width: 0.875rem;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.submit-button {
    width: 2.875rem;
    height: 1.75rem;
    display: block;
    padding: 0;
    background-color: #999;
    color: #fff;
    margin-left: 315px;
    padding-bottom: 20px;
    border-radius: 0;
    font-size: 0.71875rem;
    line-height: 1.6;
    font-weight: 500;
    pointer-events: none;
}

/* loading animation */
.loader {
    color: #ffffff;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: load4 1.8s infinite cubic-bezier(.98,.01,.9,.98);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }

  .bg {
    background-color: rgba(0,0,0,0.7);
    display: none;
    /* display:flex; */
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1090;
    position: fixed;
  }