* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

li {
    list-style: none;
    display: list-item;
}

a {
    color: black;
    letter-spacing: 1px;
}

header {
    position:fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
    box-sizing: inherit;
}

.headerNav {
    height: 192px;
    padding: 42px 40px;
    position: relative;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 0.6875rem;
    letter-spacing: 0.4px;

    display: flex;
    justify-content: center;
    height: auto;
}

.nav-left, .header-brand, .nav-right{
    flex-grow: 1;
    flex-basis: 0;
    
}

/* header Left */

.nav-left {
    display: flex;
    align-items: center;
}

.header-menu {
    position: relative;
}

.menu-items {
    padding: 2.74px 0;
}

.menu-link {
    font-size: 10px;
    font-weight: 500;
    height: 0.7rem;

}


/* header Center */
.header-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-brand h2 {
    font-size: 90px;
    color: black;
    letter-spacing: 6px;
    width: 100%;
    height: auto;
}

/* header-right */
.nav-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
}

.nav-right li {
    margin-left: 15px;
}

#right {
    padding-bottom: 40px;
}

.search{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    
}


/* nav-icon */

.nav-icon {
    justify-content: flex-end;
}
#nav-icon-right {
    display: flex;
    justify-content: flex-end;
}

.cart {
    justify-content: flex-end;
}

.cart-count {
    position: relative;
    top: -0.75rem;
    right: 0.4rem;
    background: none;
    color:inherit;
    line-height: inherit;
    width: unset;
    display: unset;
    text-align: unset;
    font-weight: 500;
    font-size: 9px;
}

#heart {
    padding-top: 1px;
}

/* header end */